# Python bytecode-compiled files folder
__pycache__/

# VS Code workspace settings
.vscode/

# To-do list
TODO.txt

# Generated images
img/

# An old gallery folder
gallery_old/

# Generated images for Telegram channel
telegram_images/

# Telegram information
telegram_config.txt
