# Python bytecode-compiled files folder
__pycache__/

# VS Code workspace settings
.vscode/

# To-do list
TODO.txt

# Generated images
images/

# Generated images for Telegram channel
_telegram_*

# Telegram and schedule info
info/

# Config templates
templates/
