# Python bytecode-compiled files folder
__pycache__/

# VS Code workspace settings
.vscode/

# To-do list
TODO.txt

# Generated images
images/

# An old gallery folder
gallery_old/

# Generated images for Telegram channel
_telegram_*

# Telegram information
telegram_config.json
